body {
  margin: 0;
}
input::-ms-reveal {
  display: none;
}
.LogoContainer{
    max-width: 300px;
    border-radius: 230px;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: auto;
  }
  
  .Logo{
    margin-top: 10%;
    width: 100%;
  }
  
  .css-niqf4j-MuiStack-root{
    align-items: center;
  }
  .css-1xot77b-MuiDrawer-docked, .MuiDrawer-paper, .MuiDrawer-docked{
    max-width: 250px !important; 
  }
  