body {
  margin: 0;
}
input::-ms-reveal {
  display: none;
}
.LogoContainer{
    max-width: 300px;
    border-radius: 230px;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: auto;
  }
  
  .Logo{
    margin-top: 10%;
    width: 100%;
  }
  
  /* .css-niqf4j-MuiStack-root{
    align-items: center;
  } */
  /* .css-11nfdgu-MuiStack-root, .css-fd0msq-MuiStack-root, .css-zhmvqp, .css-jxczsu{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  } */
